.container{
  width: 52px;
  height: 26px;
  border: 1.5px solid #53c28b70;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.icon{
  font-size: 11px;
}

.ball{
  width: 19px;
  height: 19px;
  background-color: #53c28b;
  border-radius: 50%;
  position: absolute;
}